/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-header {
  width: 90%
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

div#flash_notice {
  background-color: green;
  height: 30px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px auto 0;
  color: white;
  opacity: 0.5;
  margin: auto;
  width: 60%;
}
div#flash_error,
div#flash_alert,
div#error_explanation li {
  background-color: red;
  height: 30px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px auto 0;
  color: white;
  opacity: 0.5;
  width: 60%;
  margin: auto
}

.form-control {
  width: 60%;
  margin: auto;
}

.jumbotron {
  margin-top: 50px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
